.cart {
    &-table {
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        overflow: hidden;

        &-head {
            display: flex;
            align-items: center;
            height: 30px;
            background-color: #eceeef;
            border-bottom: 1px solid $color-border;
            padding-left: 20px;

            &__title {
                font-size: 13px;
                color: $color-caption;
            }
        }

        &-row {
            display: flex;
            width: 100%;
            height: 100%;
        }

        &-col {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;

            &_price {
                flex: 0 0 auto;
                width: 135px;
            }

            &_count {
                flex: 0 0 auto;
                width: 110px;
            }

            &_total {
                flex: 0 0 auto;
                width: 130px;
            }

            &_delete {
                flex: 0 0 auto;
                width: 35px;
            }
        }
    }

    &-desc {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $color-caption;
        border: 1px dashed $color-border;
        border-radius: 4px;
        padding: 12px 20px;
        margin-top: 20px;
    }

    &-order {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 30px;

        &-btn {
            min-width: 270px;
            margin-left: 30px;
        }
    }

    &-text {
        display: inline-flex;
        align-items: flex-end;
        font-weight: 500;
        color: $color-text;
    }

    &-total, &-currency {
        font-weight: 700;
        font-size: 30px;
        margin-left: 5px;
        margin-bottom: -2px;
    }
}

@media(max-width: 1199px) {
    .cart {
        &-order {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 20px;

            &-btn {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }
}

@media(max-width: 767px) {
    .cart {
        &-table {
            &-head {
                display: none;
            }

            &-row {
                flex-direction: column;
            }

            &-col {
                flex: 0 1 auto;
                align-items: center;
                width: 100%;
                height: auto;
                padding: 5px 15px;

                &_product {
                    padding: 15px 15px 5px;
                }

                &_delete {
                    padding: 0;
                }
            }
        }
    }
}
