.page-title {
	display: block;
	color: #373a3c;
	font-size: 30px;
	font-weight: 600;
	line-height: 44px;
	padding: 12px 0 26px;
}

@media (max-width: 565px) {
	.page-title {
		line-height: 32px;
		padding: 5px 0 15px;
		font-size: 26px;
	}
}
